@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.main {
    width: 375px;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
    
}

.login {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 100%; */
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login img {
    width: 130px;
    margin: 72px 123px 95px;
}

.hide {
    display: none;
}

.inputLogin {
    width: 261px;
    height: 54px;
    margin-bottom: 15px;
    text-align: center;
    font-style: normal;
    color: #cac9c9;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.buttonLogin {
    width: 109px;
    height: 45px;
    font-size: 18px;
    color: #696969;
    font-style: normal;
}

header {
    /* width: 375px; */
    display: flex;
    justify-content: space-between;
    padding: 16px 22px;
    font-size: 42px;
    margin-bottom: 26px;
    position: sticky;
    left: auto;
    top: 0;
    background-color: white;
}

.chat {
    margin-top: 80px;
    margin-bottom: 80px;
    /* width: 100%; */
}

.container {
    /* width: 100%; */
    border-radius: 2px;
    padding: 13px 9px;
    margin-bottom: 4px;
    word-wrap: break-word;
}

.status {
    background: #DCDCDC;
}

.messagePrivateContainer {
    background: #FFDEDE;
}

.time {
    color: #AAAAAA;
}

.from, .to {
    font-weight: 700;
}

.sendMessageContainer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding: 25px 17px;
    font-size: 26px;
    position: sticky;
    left: auto;
    bottom: 0;
    z-index: 1;
    background-color: red;
    box-sizing: border-box;
}

input {
    border: none;
    font-style: italic;
    font-size: 18px;
    margin-right: 15px;
    /* width: 80%; */
}

input:focus::placeholder {
    color: transparent;
  }

.hide {
    display: none;
}

.menu {
    position: fixed;
    height: 100%;
    width: 375px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    
}

.menuLeft {
    background: rgba(0, 0, 0, 0.6); 
    width: 30%;
}

.menuRigth {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
}

.menuTxt {
    padding: 25px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 17%;
    box-sizing: border-box;
}

.userTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 36px;
}

.selectTo {
    width: 100%;
    font-size: 16px;
    background-color: red;
}

.iconMenu {
    font-size: 20px;
    margin-right: 7px;
}

.check {
    font-size: 20px;
    color: #28BB25;
    
}